
<app-edit-spmodal></app-edit-spmodal>
<div class="container">
    <div class="row profileImageRow mb-5">
        <div class="col-xs-12 profileImageColumns">
            <div class="profilePictureDiv centerColumn">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTf9d3vymakpWH5l6ZT7FHXPWmVATlApygyg&usqp=CAU"
                    alt="profilePicture" class="profilePicture">
            </div>
            <h5 class="profileName fs-3 mt-3">{{profile.name}}</h5>
            <div class="starsContainer">
                <span class="fa fa-star checked" *ngFor="let rate of
                    ratings">
                </span>
                <span class="fa fa-star" *ngFor="let rate of
                    noratings">
                </span>
            </div>
        </div>
    </div>
    <div class="row profilInfoRow mb-5">
        <div class="col-md-4 col-6 col-sm-6 mb-3 centerColumn">
            <i class="fa fa-list-ul fa-2x mb-3"></i>
            <h4 class="fs-5">{{profile.category}}</h4>
        </div>

        <div class="col-md-4 col-6 col-sm-6 mb-3 centerColumn">
            <button *ngIf="loggedInUser.length> 0 && loggedInUser[0].role ==
                'Client'" type="button" class="btn btn-success btn-lg
                editProfileButton fs-5" (click) = "openModal()">Edit Profile</button>
            <button *ngIf="loggedInUser.length> 0 && loggedInUser[0].role ==
                'Worker'" type="button" class="btn btn-success btn-lg
                editProfileButton fs-5">Send Proposal</button>
            <button *ngIf="loggedInUser.length> 0 && loggedInUser[0].role ==
                'Admin'" type="button" class="btn btn-success btn-lg
                editProfileButton fs-5">Disable Profile</button>
        </div>
        <div class="col-md-4 col-12 centerColumn">
            <i class="fa fa-map-marker fa-2x mb-3"></i>
            <h5 class="fs-5">Baghbanpura, Lahore</h5>
        </div>
        <div class="col-md-4 mb-4">
            <div class="infoBox centerColumn">
                <h4 class="fs-2 fw-bold">Total Earnings</h4>
                <h5 class="fs-4 mt-3 text-secondary fw-bold">Rs. 12,000</h5>
            </div>

        </div>
        <div class="col-md-4 mb-4">
            <div class="infoBox centerColumn">
                <h4 class="fs-2 fw-bold">Experience</h4>
                <h5 class="fs-4 mt-3 text-secondary fw-bold">5 Years</h5>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="infoBox centerColumn">
                <h4 class="fs-2 fw-bold">Jobs Completed</h4>
                <h5 class="fs-4 mt-3 text-secondary fw-bold">10</h5>
            </div>
        </div>
    </div>
    <div>
        <h4 class="fs-3 centerColumn">Portfolio</h4>
        <div class="container portfolioContainer p-5 mb-5">
            <div class="row m-4">
                <div class="col-md-3 mb-5 centerColumn">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8MP7h1EikaSEioEPq-qVKTF_0xEAFcXEI-w&usqp=CAU"
                        alt="portfolioPic" class= 'portfolioPicture'>
                </div>
                <div class="col-md-3 mb-5 centerColumn">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8MP7h1EikaSEioEPq-qVKTF_0xEAFcXEI-w&usqp=CAU"
                        alt="portfolioPic" class= 'portfolioPicture'>
                </div>
                <div class="col-md-3 mb-5 centerColumn">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8MP7h1EikaSEioEPq-qVKTF_0xEAFcXEI-w&usqp=CAU"
                        alt="portfolioPic" class= 'portfolioPicture'>
                </div>
                <div class="col-md-3 mb-5 centerColumn">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8MP7h1EikaSEioEPq-qVKTF_0xEAFcXEI-w&usqp=CAU"
                        alt="portfolioPic" class= '
                        portfolioPicture'>
                </div>
                <div class="col-md-3 mb-5 centerColumn">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8MP7h1EikaSEioEPq-qVKTF_0xEAFcXEI-w&usqp=CAU"
                        alt="portfolioPic" class= 'portfolioPicture'>
                </div>
                <div class="col-md-3 mb-5 centerColumn">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8MP7h1EikaSEioEPq-qVKTF_0xEAFcXEI-w&usqp=CAU"
                        alt="portfolioPic" class= 'portfolioPicture'>
                </div>
                <div class="col-md-3 mb-5 centerColumn">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8MP7h1EikaSEioEPq-qVKTF_0xEAFcXEI-w&usqp=CAU"
                        alt="portfolioPic" class= 'portfolioPicture'>
                </div>
                <div class="col-md-3 mb-5 centerColumn">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8MP7h1EikaSEioEPq-qVKTF_0xEAFcXEI-w&usqp=CAU"
                        alt="portfolioPic" class= '
                        portfolioPicture'>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h4 class="fs-3 centerColumn">Reviews</h4>

        <div class="container reviewsContainer p-5 mb-5">
            <div class="row mb-5 review p-4">
                <div class="col-md-1">
                    <div class="reviewerImageDiv centerColumn">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTf9d3vymakpWH5l6ZT7FHXPWmVATlApygyg&usqp=CAU"
                            alt="profilePicture" class="reviewerImage">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row ">
                        <div class="col-md-12 reviewerName">
                            <h5>Muhammad Huzaifa Khan</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 reviewMessage">
                            <p>It is a long established fact that a
                                reader
                                will be distracted by the readable
                                content
                                of a page when looking at its layout.
                                The
                                point of using Lorem Ipsum is that it
                                has a
                                more-or-less normal distribution of
                                letters,
                                as opposed to using 'Content here,
                                content
                                here', making it look like readable
                                English.
                                Many desktop publishing packages and web
                                page editors now use Lorem Ipsum as
                                their
                                default model text, and a search for
                                'lorem
                                ipsum' will uncover many web sites still
                                in
                                their infancy. </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 reviewRating center
                            justify-content-start">
                            <p class="m-0">Ratings</p>
                            <div class="starsContainer mx-2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>

                        </div>
                        <div class="col-md-4 reviewTime
                            justify-content-start">
                            <p class="m-0">10 hrs Ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5 review p-4">
                <div class="col-md-1">
                    <div class="reviewerImageDiv centerColumn">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTf9d3vymakpWH5l6ZT7FHXPWmVATlApygyg&usqp=CAU"
                            alt="profilePicture" class="reviewerImage">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row ">
                        <div class="col-md-12 reviewerName">
                            <h5>Muhammad Huzaifa Khan</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 reviewMessage">
                            <p>It is a long established fact that a
                                reader
                                will be distracted by the readable
                                content
                                of a page when looking at its layout.
                                The
                                point of using Lorem Ipsum is that it
                                has a
                                more-or-less normal distribution of
                                letters,
                                as opposed to using 'Content here,
                                content
                                here', making it look like readable
                                English.
                                Many desktop publishing packages and web
                                page editors now use Lorem Ipsum as
                                their
                                default model text, and a search for
                                'lorem
                                ipsum' will uncover many web sites still
                                in
                                their infancy. </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 reviewRating center
                            justify-content-start">
                            <p class="m-0">Ratings</p>
                            <div class="starsContainer mx-2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>

                        </div>
                        <div class="col-md-4 reviewTime
                            justify-content-start">
                            <p class="m-0">10 hrs Ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5 review p-4">
                <div class="col-md-1">
                    <div class="reviewerImageDiv centerColumn">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTf9d3vymakpWH5l6ZT7FHXPWmVATlApygyg&usqp=CAU"
                            alt="profilePicture" class="reviewerImage">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row ">
                        <div class="col-md-12 reviewerName">
                            <h5>Muhammad Huzaifa Khan</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 reviewMessage">
                            <p>It is a long established fact that a
                                reader
                                will be distracted by the readable
                                content
                                of a page when looking at its layout.
                                The
                                point of using Lorem Ipsum is that it
                                has a
                                more-or-less normal distribution of
                                letters,
                                as opposed to using 'Content here,
                                content
                                here', making it look like readable
                                English.
                                Many desktop publishing packages and web
                                page editors now use Lorem Ipsum as
                                their
                                default model text, and a search for
                                'lorem
                                ipsum' will uncover many web sites still
                                in
                                their infancy. </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 reviewRating center
                            justify-content-start">
                            <p class="m-0">Ratings</p>
                            <div class="starsContainer mx-2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>

                        </div>
                        <div class="col-md-4 reviewTime
                            justify-content-start">
                            <p class="m-0">10 hrs Ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5 review p-4">
                <div class="col-md-1">
                    <div class="reviewerImageDiv centerColumn">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTf9d3vymakpWH5l6ZT7FHXPWmVATlApygyg&usqp=CAU"
                            alt="profilePicture" class="reviewerImage">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row ">
                        <div class="col-md-12 reviewerName">
                            <h5>Muhammad Huzaifa Khan</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 reviewMessage">
                            <p>It is a long established fact that a
                                reader
                                will be distracted by the readable
                                content
                                of a page when looking at its layout.
                                The
                                point of using Lorem Ipsum is that it
                                has a
                                more-or-less normal distribution of
                                letters,
                                as opposed to using 'Content here,
                                content
                                here', making it look like readable
                                English.
                                Many desktop publishing packages and web
                                page editors now use Lorem Ipsum as
                                their
                                default model text, and a search for
                                'lorem
                                ipsum' will uncover many web sites still
                                in
                                their infancy. </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 reviewRating center
                            justify-content-start">
                            <p class="m-0">Ratings</p>
                            <div class="starsContainer mx-2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>

                        </div>
                        <div class="col-md-4 reviewTime
                            justify-content-start">
                            <p class="m-0">10 hrs Ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
