
<div class="container-fluid p-0 bg-dark" style="background-color:black !important;">
    <div class="d-flex align-items-center">
        <div class="col-lg-10 col-md-9 col-sm-10 col-8  align-items-center">
            <div class="d-flex row align-items-center">
                <div class="col-lg-1 col-md-2 col-sm-3 col-6 d-flex justify-content-center">
                    <img class="img-fluid pl-0" src="../../assets/kaamkaaj-removebg-preview.png" style="height: 60px;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-6 text-white fs-2 p-0">Kaam Kaaj</div>
            </div>
        </div>
        <div class=" col-lg-2 col-md-3 col-sm-2 col-4 d-flex justify-content-end">
            <button type="button" class=" btn btn-outline-light ">Home</button>  
        </div>
    </div>
</div>

