a{
    text-decoration: none;
}
.name{
    text-transform: capitalize;
}
.location{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.hide {
    display: none;
  }