<div class="maindiv display-3 text-black d-flex align-items-center pb-5">
    <div class="fw-bold deal_done img-fluid d-flex col-12 justify-content-center align-items-center colorchange">
        <p>WORK JUST THE WAY YOU LIKE</p>
    </div>
</div>
<div class="col-lg-12 d-flex justify-content-center p-5">
    <div class="col-lg-8 d-flex justify-content-center">
        <div class="col-lg-12 d-flex flex-row justify-content-around">
            <div class="row justify-content-center " >
                <div class="p-3 col-lg-3 col-md-5 col-10 li-size ">
                    <p class="fs-3 pt-3 d-flex justify-content-center">Plumber</p>
                    <img class="img-fluid imgsize rounded" src="../../assets/main_page_plumber.jpg">
                </div>
                <div class="p-3 col-lg-3 col-md-5 col-10 li-size">
                    <p class="fs-3 pt-3 d-flex justify-content-center">Carpenter</p>
                    <img class="img-fluid imgsize rounded" src="../../assets/main_page_carpenter.jpg">
                    
                </div>
                <div class="p-3 col-lg-3 col-md-5 col-10 li-size">
                    <p class="fs-3 mt-3 d-flex justify-content-center">Electrician</p>
                    <img class="img-fluid imgsize rounded" src="../../assets/main_page_electrician.jpg">
                    
                </div>
                <div class="p-3 col-lg-3 col-md-5 col-10 li-size">
                    <p class="fs-3 mt-3 d-flex justify-content-center">Movers</p>
                    <img class="img-fluid imgsize rounded" src="../../assets/main_page_movers.jpeg">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-12 d-flex justify-content-center">
    <button type="button" class="btn btn-outline-primary btn-lg">View More Categories</button>
</div>

<!-- ENTERPRISE BLOCK -->

<div class="pb-5 pt-5 m-0 col-lg-12 container-fluid pe-0 ps-0">
    <div class="row p-0 m-0">
        <div class="col-lg-6 order-lg-1 order-2" style="background-color:#483977 ;">
            <p class="text-white pt-3 display-5 texttocenter">For Enterprise</p>
            <div class="col-lg-12 d-flex justify-content-center texttocenter">
                <p class="text-white fs-4">A fast and secure way to achieve long term success for your business goals.</p>
            </div>
            <div class="d-flex justify-content-center pad-add">
                <hr class="text-white linelength">
            </div>
            <div class="mt-2 pad-add">
                <div class="d-flex">
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <img class="img-fluid iconsize" src="../../assets/icons/pngwing.com.png">
                    </div>
                    <div class="col-10 d-flex align-text-center justify-content-start">
                        <p class="text-white fs-6 m-0 mt-1">Access Expert Skills</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 pad-add">
                <div class="d-flex">
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <img class="img-fluid iconsize" src="../../assets/icons/main_page_hire_icon.png">
                    </div>
                    <div class="col-10 d-flex align-text-center justify-content-start">
                        <p class="text-white fs-6 m-0 mt-1">Hire and pay talent to control your workflow</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 mb-1 pad-add">
                <div class="d-flex">
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <img class="img-fluid iconsize" src="../../assets/icons/main_page_partner_icon.png">
                    </div>
                    <div class="col-10 d-flex align-text-center justify-content-start">
                        <p class="text-white fs-6 m-0 mt-1">Partner up with Kaam Kaaj for end to end support</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-1 p-0">
            <img class=" img-fluid" src="../../assets/main_page_business_meeting.jpg">
        </div>
    </div>
</div>

<!-- CLIENT BLOCK -->

<div class="container-fluid p-0">
    <div class="card rounded-0">
        <img src="../../assets/main_page_Finding_talent.jpg" class="card-img img-fluid rounded-0">
        <div class="card-img-overlay p-2">
            <div class="card-body text-dark" style="height: 50%;">
                <p class="card-subtitle display-5">For Clients</p>
                <p class="col-12 justify-content-center d-flex card-text" style="font-size: 2vw;">Find Talent your way</p>
            </div>
            <!-- adding the two blocks at the bottom right corner -->

                <div class=" col-lg-12 row d-flex text-dark justify-content-end align-items-end" style="height: 10vw;">
                    
                    <!-- Card 1 -->
                    <div class="offset-sm-5 col-lg-3 bg-warning rounded-3 ms-3 ">
                        <p class="pt-2 ps-2 fs-4 texttocenter">Post a job and Hire a pro</p>
                        <div class="row d-flex justify-content-between align-items-center pb-2">
                            <div class="col-9">
                                <p class="fs-5">
                                    Post a Job
                                </p>
                            </div>
                            <div class="col-3 d-flex justify-content-end">
                                <img class="img-fluid cardimg" src="../../assets/icons/arrow.png">
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="offset-sm-1 col-lg-3 bg-warning rounded-3">
                        <p class="pt-2 ps-2 fs-4 texttocenter">Hire a pro you want</p>
                        <div class="row d-flex justify-content-between align-items-center pb-2">
                            <div class="col-9 ">
                                <p class="fs-5">
                                    Talent Marketplace
                                </p>
                            </div>
                            <div class="col-3 d-flex justify-content-end">
                                <img class="img-fluid cardimg" src="../../assets/icons/arrow.png" >
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>

<!-- TALENT BLOCK -->

<div class="pb-5 pt-5 m-0 col-lg-12 container-fluid pe-0 ps-0">
    <div class="row p-0 m-0">
        <div class="col-lg-6 order-lg-1 order-2" style="background-color:#E95E46 ;">
            <p class="text-white pt-3 mb-5 fs-2 texttocenter">For Talent</p>
            <div class="col-lg-12 d-flex justify-content-center texttocenter">
                <p class="text-white fs-4">Find Great Work</p>
            </div>
            <div class="d-flex justify-content-center pad-add">
                <hr class="text-white linelength">
            </div>
            <div class="mt-2 pad-add">
                <div class="d-flex">
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <img class="img-fluid iconsize" src="../../assets/icons/pngwing.com.png">
                    </div>
                    <div class="col-10 d-flex align-text-center justify-content-start">
                        <p class="text-white fs-6 m-0 mt-1">Get job on your price</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 mb-2 pad-add">
                <div class="d-flex">
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <img class="img-fluid iconsize" src="../../assets/icons/main_page_hire_icon.png">
                    </div>
                    <div class="col-10 d-flex align-text-center justify-content-start">
                        <p class="text-white fs-6 m-0 mt-2">Accept projects you like</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-6 order-lg-2 order-1 p-0">
            <img class=" img-fluid" src="../../assets/main_page_talent.jpg">
        </div>
    </div>
</div>