<app-change-password-modal></app-change-password-modal>

<div *ngIf="success==true" class="alert alert-danger p-3" role="alert">
    {{this.message}}
</div>
<form class="container-fluid" ngNativeValidate>
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-lg-3 col-md-5 col-sm-7 col-10 shadow-lg m-5 p-5 bg-body rounded-3">
            <h1 class="d-flex justify-content-center fs-1">Log in</h1>
            <div class="container-fluid">
                <div class="mb-3 mt-5 d-flex flex-row">
                    <div class="col-12">
                        <input name="inputUsername" required [(ngModel)]="userInput" [ngModelOptions]="{standalone: true}" placeholder="Username" type="username" class="form-control border-start-0 border-end-0 border-top-0 rounded-0" id="inputUsername"/>
                    </div>
                </div>
                <div class="mb-3 mt-5 d-flex flex-row">
                    <div class="col-12 d-flex justify-content-center ">
                        <input name="inputPassword" required [(ngModel)]="passInput" [ngModelOptions]="{standalone: true}" placeholder="Password" [type]="showPassword ? 'text' : 'password'" class="form-control border-start-0 border-end-0 border-top-0 rounded-0" id="inputPassword"/>
                        <div class="ps-2 mt-3" (click)="showPassword = !showPassword">
                            <i alt="show" class="fas fa-eye eye-show" [class.hide]="showPassword"></i>
                            <i alt="hide" class="fas fa-eye-slash eye-hide" [class.hide]="!showPassword"></i>
                        </div>
                    </div>
                </div>
                <div (click)="openModal()"  class="d-flex justify-content-end mt-0 mb-3 forgotPassword">
                    <h5>Forgot Password?</h5>
                </div>
                <div class="d-flex justify-content-center mb-5">
                    <button (click)="onLogin()" type="submit" class="px-3 btn btn-outline-dark fs-5" id="loginbut">Log in</button>  
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <label class="fs-4" style="opacity: 50%;">or</label>
                </div>
                <hr><br>
                <div class="d-flex justify-content-center">
                    <button routerLink="/signup" type="button" class="px-3 btn btn-dark fs-5">Sign Up</button>  
                </div>
            </div>
            
        </div>
    </div>
</form>