@media(max-width:350px){
    ::-webkit-input-placeholder {
        font-size: 10px;
    }
    
}
.forgotPassword{
    color:blue;
    font-size: x-small;
    cursor: pointer;
}

.hide {
    display: none;
  }
