<div class="maindiv display-3 text-white d-flex align-items-center pb-5">
    <div class="fw-bold deal_done img-fluid d-flex col-12 justify-content-center
        align-items-center colorchange">
        <p>WORK JUST THE WAY YOU LIKE</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 d-flex justify-content-center p-5">
        <div class="col-lg-8 d-flex justify-content-center">
            <div class="col-lg-12 d-flex flex-row justify-content-around">
                <div class="row justify-content-center ">
                    <div class="p-3 col-lg-3 col-md-5 col-10 li-size" *ngFor="let service of allServices ;">
                        <p class="fs-3 pt-3 d-flex justify-content-center">{{service.tittle}}</p>
                        <img (click)="onServiceClick(service.tittle)" routerLink="/services" class="img-fluid imgsize rounded"
                        src={{service.image}}>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-12 d-flex justify-content-center">
    <a class="btn btn-outline-primary" routerLink="/services">View More Categories</a>
</div>
<!-- ENTERPRISE BLOCK -->

<div class="pb-5 pt-5 m-0 col-lg-12 container-fluid pe-0 ps-0">
    <div class="row p-0 m-0">
        <div class="col-lg-6 order-lg-1 order-2"
            style="background-color:#483977
            ;">
            <p class="text-white pt-3 display-5 texttocenter">For Enterprise</p>
            <div class="col-lg-12 d-flex justify-content-center texttocenter">
                <p class="text-white fs-4">A fast and secure way to achieve long
                    term success for your business goals.</p>
            </div>
            <div class="d-flex justify-content-center pad-add">
                <hr class="text-white linelength">
            </div>
            <div class="mt-2 pad-add">
                <div class="d-flex">
                    <div class="col-1 d-flex justify-content-center
                        align-items-center">
                        <img class="img-fluid iconsize"
                            src="../../../assets/icons/pngwing.com.png">
                    </div>
                    <div class="col-10 d-flex align-text-center
                        justify-content-start">
                        <p class="text-white fs-6 m-0 mt-1">Access Expert Skills</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 pad-add">
                <div class="d-flex">
                    <div class="col-1 d-flex justify-content-center
                        align-items-center">
                        <img class="img-fluid iconsize"
                            src="../../../assets/icons/main_page_hire_icon.png">
                    </div>
                    <div class="col-10 d-flex align-text-center
                        justify-content-start">
                        <p class="text-white fs-6 m-0 mt-1">Hire and pay talent
                            to control your workflow</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 mb-1 pad-add">
                <div class="d-flex">
                    <div class="col-1 d-flex justify-content-center
                        align-items-center">
                        <img class="img-fluid iconsize"
                            src="../../../assets/icons/main_page_partner_icon.png">
                    </div>
                    <div class="col-10 d-flex align-text-center
                        justify-content-start">
                        <p class="text-white fs-6 m-0 mt-1">Partner up with Kaam
                            Kaaj for end to end support</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-1 p-0">
            <img class=" img-fluid"
                src="../../../assets/main_page_business_meeting.jpg">
        </div>
    </div>
</div>

<!-- CLIENT BLOCK -->

<div class="container-fluid pt-5 pb-5">
    <div class="row client-block ">
        <div class="col-lg-12">
            <p class="display-4 justify-content-center d-flex card-text
                fw-bold outline-text">For
                Clients</p>
            <p class="display-4 justify-content-center d-flex card-text
                fw-bold outline-text texttocenter">Find
                Talent
                your way</p>
        </div>
        <!-- adding the two blocks at the bottom right corner -->
        <div class="row client-block1 d-flex justify-content-around p-0 m-0">
            <div class="col-lg-3 col-md-4 col-sm-5 col-12 m-2 bg-warning rounded-3">
                <p class="mt-2 ms-2 fs-4 texttocenter">Post a job and Hire a
                    pro</p>
                <hr>
                <div class="row d-flex justify-content-between
                    align-items-center pb-2">
                    <div class="col-8">
                        <p class="fs-5">
                            Post a Job
                        </p>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <img routerLink="signin" class="img-fluid cardimg"
                            src="../../../assets/icons/arrow.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-12 m-2 bg-warning rounded-3">
                <p class="mt-2 ms-2 fs-4 texttocenter">Post a job and Hire a
                    pro</p>
                <hr>
                <div class="row d-flex justify-content-center
                    align-items-center">
                    <div class="col-8">
                        <p class="fs-5">
                            Post a Job
                        </p>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <img routerLink="signin" class="img-fluid cardimg"
                            src="../../../assets/icons/arrow.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TALENT BLOCK -->

<div class="pb-5 pt-5 m-0 col-lg-12 container-fluid pe-0 ps-0">
    <div class="row p-0 m-0">
        <div class="col-lg-6 order-lg-1 order-2" style="background-color:#E95E46
            ;">
            <p class="text-white pt-3 mb-5 fs-2 texttocenter">For Talent</p>
            <div class="col-lg-12 d-flex justify-content-center texttocenter">
                <p class="text-white fs-4">Find Great Work</p>
            </div>
            <div class="d-flex justify-content-center pad-add">
                <hr class="text-white linelength">
            </div>
            <div class="mt-2 pad-add">
                <div class="d-flex">
                    <div class="col-1 d-flex justify-content-center
                        align-items-center">
                        <img class="img-fluid iconsize"
                            src="../../../assets/icons/pngwing.com.png">
                    </div>
                    <div class="col-10 d-flex align-text-center
                        justify-content-start">
                        <p class="text-white fs-6 m-0 mt-1">Get job on your
                            price</p>
                    </div>
                </div>
            </div>
            <div class="mt-2 mb-2 pad-add">
                <div class="d-flex">
                    <div class="col-1 d-flex justify-content-center
                        align-items-center">
                        <img class="img-fluid iconsize"
                            src="../../../assets/icons/main_page_hire_icon.png">
                    </div>
                    <div class="col-10 d-flex align-text-center
                        justify-content-start">
                        <p class="text-white fs-6 m-0 mt-2">Accept projects you
                            like</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 order-lg-2 order-1 p-0">
            <img class=" img-fluid" src="../../../assets/main_page_talent.jpg">
        </div>
    </div>
</div>
<div class="pt-5 pb-5 col-12 justify-content-center d-flex">
    <div class="col-11">
        <hr>
    </div>
</div>

<!-- Need Something Done -->

<div class="container-fluid">
    <div class="col-12 justify-content-center d-flex" style="height:15vh;">
        <div class="justify-content-center d-flex">
            <p class="display-5 fw-bold texttocenter">
                Need something jobCompleted?
            </p>
        </div>
    </div>
    <div class="ps-5 pe-5 justify-content-center d-flex">
        <div class="row justify-content-center col-10">
            <div class="col-lg-3 col-md-6 col-8">
                <div class="row col-md-12">
                    <img class="img-fluid col-3 p-0"  src="../../../assets/post-a-project.svg">
                    <h2 class="fw-bold col-9 d-flex align-items-center m-0 p-0">Post a job</h2>
                </div>
                <h3 class="pt-3">It’s free and easy to post a job. Simply fill in a title, description and budget and competitive bids come within minutes.</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-8">
                <div class="row col-md-12">
                    <img class="img-fluid col-3 p-0"  src="../../../assets/work.svg">
                    <h2 class="fw-bold col-9 d-flex align-items-center m-0 p-0">Choose freelancers</h2>
                </div>
                <h3 class="pt-3">No job is too big or too small. We've got freelancers for jobs of any size or budget, across 1800+ skills. No job is too complex. We can get it jobCompleted!</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-8">
                <div class="row col-md-12">
                    <img class="img-fluid col-3 p-0"  src="../../../assets/pay-safely.svg">
                    <h2 class="fw-bold col-9 d-flex align-items-center m-0 p-0">Pay safely</h2>
                </div>
                <h3 class="pt-3">Only pay for work when it has been completed and you're 100% satisfied with the quality using our milestone payment system.</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-8">
                <div class="row col-md-12">
                    <img class="img-fluid col-3 p-0"  src="../../../assets/about-me.svg">
                    <h2 class="fw-bold col-9 d-flex align-items-center m-0 p-0">We’re here to help</h2>
                </div>
                <h3 class="pt-3">Our talented team of recruiters can help you find the best freelancer for the job and our technical co-pilots can even manage the project for you.</h3>
            </div>
        </div>
    </div>
</div>
<div class="pt-5 pb-5 col-12 justify-content-center d-flex">
    <div class="col-11">
        <hr>
    </div>
</div>
<!-- Whats great about it? -->
<div class="container-fluid pb-5">
    <div class="col-12 justify-content-center d-flex" style="height:15vh;">
        <div class="justify-content-center d-flex">
            <p class="display-5 fw-bold texttocenter">
                What's great about it?
            </p>
        </div>
    </div>
    <div class="ps-5 pe-5 justify-content-center d-flex">
        <div class="row justify-content-center col-10">
            <div class="col-lg-3 col-md-6 col-8">
                <div class="row col-md-12">
                    <img class="img-fluid col-3 p-0"  src="../../../assets/browse-portfolios.svg">
                    <h2 class="fw-bold col-9 d-flex align-items-center m-0 p-0">Browse Portfolios</h2>
                </div>
                <h3 class="pt-3">Find professionals you can trust by browsing their samples of previous work and reading their profile reviews.</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-8">
                <div class="row col-md-12">
                    <img class="img-fluid col-3 p-0"  src="../../../assets/bids-alt.svg">
                    <h2 class="fw-bold col-9 d-flex align-items-center m-0 p-0">Fast Bids</h2>
                </div>
                <h3 class="pt-3">Receive obligation free quotes from our talented freelancers fast. 80% of projects get bid on within 60 seconds.</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-8">
                <div class="row col-md-12">
                    <img class="img-fluid col-3 p-0"  src="../../../assets/rank-higher.svg">
                    <h2 class="fw-bold col-9 d-flex align-items-center m-0 p-0">Quality Work</h2>
                </div>
                <h3 class="pt-3">KaamKaaj.com has by far the largest pool of quality freelancers globally- over 50 million to choose from.</h3>
            </div>
            <div class="col-lg-3 col-md-6 col-8">
                <div class="row col-md-12">
                    <img class="img-fluid col-3 p-0"  src="../../../assets/track-progress.svg">
                    <h2 class="fw-bold col-9 d-flex align-items-center m-0 p-0">Track Progress</h2>
                </div>
                <h3 class="pt-3">Keep up-to-date and on-the-go with our time tracker, and mobile app. Always know what freelancers are up to.</h3>
            </div>
        </div>
    </div>
</div>
