<div class="container">
    <!-- ---------------------------job bidding haeding----------------------- -->
    <div class="row">
        <h1 class=" d-flex m-2 justify-content-center align-items-center">Job Biddings</h1>
    </div>

    <div class="row ">
        <div class="col-lg-8 mt-4  w-100 ">
            <div class="row shadow-lg rounded-3 review p-4 background mb-3 ms-4 me-4 "
                *ngFor="let bid of allBids[0].bids; let i = index">

                <div class="col-md-6">
                    <div class="d-flex flex-row">
                        <!-- --------------------------service provider profile pic------------------ -->
                        <div class="reviewerImageDiv centerColumn ">
                            <img src={{allBids[0].serviveProviderDetails[i].profilePicture}} alt="profilePicture"
                                class=" reviewerImage">
                        </div>
                        <div class="d-flex flex-column ps-3">
                            <!-- -----------------------service provider username------------------ -->
                            <div class="">
                                <h1><strong>{{allBids[0].userDetails[i].userName}}</strong></h1>
                            </div>
                            <!-- --------------------------service--------------------------- -->
                            <div class=" reviewerName">
                                <span>{{allBids[0].serviveDetails[0].tittle}}</span>
                            </div>
                            <!-- ------------------------total jobs completed---------------------- -->
                            <div class="">
                                <span>Jobs Completed: {{allBids[0].serviveProviderDetails[i].jobsCompleted}}</span>
                            </div>
                            <!-- --------------------------service provider experience----------------------- -->
                            <div class="">
                                <span>Experience: {{allBids[0].serviveProviderDetails[i].experience}} years</span>
                            </div>
                            <!-- -------------------------service provider address----------------------- -->
                            <div class="">
                                <i class="bi bi-geo-alt-fill location"></i> {{allBids[0].userDetails[i].address}}
                            </div>
                            <!-- -------------------------service provider rating-------------------- -->
                            <div class="">
                                <div class="rating">
                                    <h4 class="mb-1">Rating</h4>
                                    {{child.setSelectedValue(allBids[0].serviveProviderDetails[i].rating | number:
                                    '1.0-0')}}
                                    <app-rating #child></app-rating>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-12 text-center">
                        <div class="">
                            <!-- ----------------------------bid amount-------------------------- -->
                            <span>
                                <h1 class="priceColor mb-0"><strong>PKR {{allBids[0].bidsDetails[i].amount}}</strong>
                                </h1>
                            </span>
                            <!-- -------------------------bid duration------------------------- -->
                            <span>
                                <h2>Completion Time: {{allBids[0].bidsDetails[i].duration}}</h2>
                            </span>
                        </div>
                        <!-- ----------------------accept, decline buttons----------------------- -->
                        <div class="">
                            <button type="button" class="btn declineBtn w-50">Decline</button>
                            <button type="button" class="btn acceptBtn w-50 ">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>














    </div>

</div>