<div *ngIf="success==true" class="alert alert-success p-3" role="alert">
    {{this.successmsg}}
</div>
<div *ngIf="success==false" class="alert alert-danger p-3" role="alert">
    {{this.failmsg}}
</div>
<div class="container">
    <!-- --------------------------------main heading----------------------- -->
    <h1 class=" d-flex m-4 justify-content-center align-items-center">Add a Job</h1>
    <!-- --------------------------------form----------------------- -->
    <div>
        <form ngNativeValidate (ngSubmit)="handleSubmit()" >
            <!-- --------------------------------services dropdown----------------------- -->
            <div class="formContainer">
                <!-- --------------------------------job tittle----------------------- -->
                <div class="row">
                    <div class="mt-3 mb-3 ms-3 jobNameWidth">
                        <label for="exampleInputEmail1" class="form-label"><strong>Choose a job name:
                            </strong></label>
                        <input type="text" maxlength="16" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" required [(ngModel)]="title"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <!-- --------------------------------job description----------------------- -->
                <div class="row">
                    <div class="mb-3  ms-3 jobNameWidth">
                        <label for="exampleInputEmail1" class="form-label"><strong>Choose a description of your
                                job</strong></label>
                        <textarea class="form-control textFields" id="exampleFormControlTextarea1 " rows="3" required
                            [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                </div>
                <!-- --------------------------------Job duration----------------------- -->
                <div class="row">
                    <div class="mb-4 ms-3 jobNameWidth">
                        <label for="exampleInputEmail1" class="form-label"><strong>Choose a job
                                duration</strong></label>
                        <input id="date" required class="textbox-n form-control " type="text"
                            onfocus="(this.type='date')" onblur="(this.type='text')" id="date"
                            [(ngModel)]="estCompletionTime" [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <!-- --------------------------------enter  amount ----------------------- -->
                <div class="row  mb-3 ms-1 jobNameWidth ">
                    <div class="col-xxl-3">
                        <div class="mb-0 " id="amountdropdown">
                            <div class="btn-group mt-3">
                                <button type="button"
                                    class="btn btn-secondary dropDownBtn  dropdown-toggle-split timeDurationBtn text-dark"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                    aria-expanded="false">{{currentAmount}}
                                </button>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-secondary  dropdown-toggle-split dropDownIcon"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-arrow-circle-down fa-2xl"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <!-- <li><a  class="dropdown-item" href="#">Flexible</a></li> -->
                                        <li><a (click)="gettingAmount(500)" (click)="removingValidationAmountDropdown()" class="dropdown-item">500</a></li>
                                        <li><a (click)="gettingAmount(1000)" (click)="removingValidationAmountDropdown()" class="dropdown-item">1000</a></li>
                                        <li (click)="amountToogle()"><a class="dropdown-item">others...</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- ------------------ validation of select amount dropdown------------- -->
                            <div class="amountCategoryDropdownDivProperties"  id="amountDropdownDivId" >
                                <input name="amountValidator" type="text" class="amountCategoryDropdownProperties" required 
                                aria-describedby="emailHelp"  [(ngModel)]="amountText"
                                [ngModelOptions]="{standalone: true}" >         
                            </div> 
                        </div>
                        <!-- ------------enter amount inpu field-------------- -->
                        <div class="mb-3  hide" id="amountFields">
                            <label for="exampleInputEmail1" class="form-label"><strong>Enter amount: </strong>
                            </label>
                            <input #amountNumberField required type="number" min="0" class="form-control"
                                id="exampleInputEmail1" aria-describedby="emailHelp" required [(ngModel)]="estAmount"
                                [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>       
                    <!-- -----------------choose job category--------------------- -->
                    <div class="col-xxl-3"  >
                        <div class="mb-0">
                            <div class="btn-group mt-3">
                                <button [disabled]="btnState" type="button"
                                    class="timeDurationBtn btn btn-secondary dropDownBtn dropdown-toggle-split text-dark"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                    aria-expanded="false">{{currentCategory}}
                                </button>
                                <div class="dropdown">
                                    <button [disabled]="btnState" type="button"
                                        class="btn btn-secondary  dropdown-toggle-split dropDownIcon"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-arrow-circle-down fa-2xl"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"
                                        *ngFor="let service of allServices ; let i = index">
                                        <li *ngFor="let service of allServices ; let i = index"><a
                                                (click)="currentService(service.tittle)"
                                                (click)="removingValidationCategoryDropdown()"
                                                class="dropdown-item">{{service.tittle}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- ------------------ validation of select category dropdown------------- -->
                            <div class="amountCategoryDropdownDivProperties" id="categoryDropdownDivId" >
                                <input name="categoryValidator" type="text" class="amountCategoryDropdownProperties" required   
                                aria-describedby="emailHelp"  [(ngModel)]="categoryText"
                                [ngModelOptions]="{standalone: true}" >         
                            </div>
                        </div> 
                    </div>
                </div>
                <!-- --------------------------------enter address----------------------- -->
                <div class="row">
                    <div class="mb-3  ms-3 jobNameWidth">
                        <label for="exampleInputEmail1" class="form-label"><strong>Enter Your Address:</strong>
                        </label>
                        <textarea class="form-control textFields" id="exampleFormControlTextarea1 " rows="3" required
                            [(ngModel)]="jobAddress" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                </div>
                <!-- --------------------------------upload image----------------------- -->
                <div class="row">
                    <div class="mb-3  ms-3 jobNameWidth">
                        <label for="formFileLg" class="form-label"></label>
                        <input #fileUploader class="form-control form-control-lg " id="formFileLg" type="file"
                            name="image" multiple (change)="selectMultipleImages($event)"
                            accept="image/png, image/jpeg,image/jpg" />
                    </div>
                </div>
                <!-- --------------------------------submit button----------------------- -->
                <div class="row ">
                    <div class="col-sm-12">
                        <div class="mb-3  ms-3 jobNameWidth text-center">
                            <button type="submit" class="btn btn-success btn-lg">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>