.container {
    min-height: 60%;
}

.balanceBox {
    border: 1px solid lightgray;
    border-radius: 12px;

}

.centerDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuButton {
    background-color: whitesmoke;
    border: none;
    border-radius: 20px;
    color: black;
    padding: 1rem;
    font-size: 1.2rem;
}

.menuButton:hover {
    background-color: green;
    color: white;
}

.selected {
    background-color: green;
    color: white;
}