.serviceImage{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.rating{
    width: 100%;
    float: left;
}
.textColor{
    color: #b3b3b3;
}
.record{
    color: #b3b3b3;
    text-align: center;
}
