.serviceImage {
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.rating {
    width: 100%;
    float: left;
}

.textColor {
    color: #b3b3b3;
}
.record{
    color: #b3b3b3;
    text-align: center;
}
.serviceProviders{
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 30px;
    
}

  /* search bar */
  .searchBtn {
    height: 38px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.searchFieled{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }

/* when screen is less than 985px than search bar occupies the whole row  */

@media only screen and (max-width: 985px) {
    .searchBox {
        width: 100%;
        height: 100%;
    }
}



/* -- --------------------Show no record found when serviceprovider div is empty------------------------------ -- */
.default:not(:only-child) {
    display: none;
 }
