
<form class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" ngNativeValidate ngNativeValidate (ngSubmit)="sendMail()">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="fs-5 m-0">Forgot Password</h5>
                <button (click)="closeModal()" type="button" class="close bg-light"  style="border: none;"
                    aria-label="Close">
                    <span aria-hidden="true" style="font-size: 20px;">&times;</span>
                </button>
            </div>
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="container-fluid">

                    <div class="mb-3 mt-5 d-flex flex-row">
                        <div class="col-12">
                            <input name="inputUsername" required [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Enter Email" type="email" class="form-control border-start-0 border-end-0 border-top-0 rounded-0" id="inputUsername"/>
                        </div>
                    </div>

                    <div class="col-md-10 col-sm-9 d-flex align-items-center">
                        <p class="m-0 ps-3 pt-3">An email will be sent to you where you can change your password</p>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button  type="submit" class="btn btn-success rounded-4 ps-4 pe-4" data-dismiss="modal"
                    >Send Mail</button>
            </div>
        </div>
    </div>
</form>