<div class="container">
    <!-- ---------------------heading------------------------ -->
    <div class="row text-center">
        <h1 class="mainHeading"><b>Service Providers by Category</b></h1>
    </div>
    <!-- --------------------search bar------------------------------ -->
    <div class="row">
        <div>
            <div class="input-group ">
                <div class="col-12 d-flex w-100 justify-content-end ">
                    <div class="form-outline searchBox">
                        <input placeholder="search..." type="search" id="form1" class="form-control searchFieled" />
                        <label class="form-label" for="form1"></label>
                    </div>
                    <button type="button" class="btn btn-primary searchBtn ">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- ---------------------------filter bar--------------------------------- -->

    <div class="row">
        <div class="col-lg-4">
            <nav id="sidebarMenu" class=" d-lg-block sidebar">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4">
                        <h1><b>Filters</b></h1>
                        <hr>
                        <h4><b>Categories</b></h4>
                        <a class="list-group-item list-group-item-action py-2 ripple" href="{{baseUrlFrontEnd}}/serviceproviders/Plumber" aria-current="true"><i class="fas fa-solid fa-wrench fa-fw me-3"></i><span>Plumber</span></a>
                        <a class="list-group-item list-group-item-action py-2 ripple" href="{{baseUrlFrontEnd}}/serviceproviders/Electrician"><i class="fas fa-solid fa-plug-circle-plus fa-fw me-3"></i><span>Electrician</span></a>
                        <a class="list-group-item list-group-item-action py-2 ripple" href="{{baseUrlFrontEnd}}/serviceproviders/Carpanter"><i class="fas fa-lock fa-fw me-3"></i><span>Carpanter</span></a>
                        <a class="list-group-item list-group-item-action py-2 ripple" href="#"><i class="fas fa-chart-line fa-fw me-3"></i><span>Black Smith</span></a>
                        <a class="list-group-item list-group-item-action py-2 ripple" href="#"><i class="fas fa-chart-pie fa-fw me-3"></i><span>Movers & Packers</span></a>
                        <a class="list-group-item list-group-item-action py-2 ripple" href="#"><i class="fas fa-chart-bar fa-fw me-3"></i><span>Construction </span></a>
                        <a class="list-group-item list-group-item-action py-2 ripple" href="#"><i class="fas fa-globe fa-fw me-3"></i><span>Renovators</span></a>
                        <a class="list-group-item list-group-item-action py-2 ripple" href="#"><i class="fas fa-building fa-fw me-3"></i><span>Sweepers</span></a>
                        <a class="list-group-item list-group-item-action py-2 ripple" href="#"><i class="fas fa-calendar fa-fw me-3"></i><span>Maid</span></a>
                        <a class="list-group-item list-group-item-action py-2 ripple mb-5"  href="#"><i class="fas fa-users fa-fw me-3"></i><span>Butler</span></a>
                        <hr>
                        <div class="row">
                            <h4><b>Ratings</b></h4>
                            <div class="container">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="container">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-8">
            <div class="container serviceProviders">
                <app-service-providers></app-service-providers>
            </div>
        </div>
    </div>
</div>

