<!-- (resized)="onResized($event)" -->
<div class="container"  >
    <!-- ---------------------heading------------------------ -->
    <div class="row text-center">
        <h1 class=" d-flex m-4 justify-content-center align-items-center">Service Providers by Category</h1>
    </div>
    <!-- ---------------------------filter bar--------------------------------- -->
    <div class="row">
        <div class="togglerBtn ms-3 mb-2">
            <button class="btn btn-primary"  (click)="sideBarToggler()">&#9776; </button>
        </div>
        <div class="col-lg-4 " id="filterBarTogglerId">
            <nav id="sidebarMenu" class=" d-lg-block sidebar">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4">
                        <h1 class="display-3">Filters</h1>
                        <hr>
                        <h3 class="display-1">Categories</h3>
                        <a *ngIf = "currentUser == 'Admin'"  class="list-group-item list-group-item-action py-2 ripple" routerLink="../All" aria-current="true"><i class="fas fa-solid fa-wrench fa-fw me-3"></i><span>All</span></a>
                        <a *ngFor = "let service of allServices"  class="list-group-item list-group-item-action py-2 ripple" routerLink="../{{service.tittle}}" aria-current="true"><i class="fas fa-solid fa-wrench fa-fw me-3"></i><span>{{service?.tittle}}</span></a>

                        <hr>
                        <div class="row">
                            <h3 class="display-1">Ratings</h3>
                            <div class="container">
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons rateStar">star</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons unchecked">star</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons unchecked">star</span>
                                <span class="material-icons unchecked">star</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons unchecked">star</span>
                                <span class="material-icons unchecked">star</span>
                                <span class="material-icons unchecked">star</span>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="container">
                                <span class="material-icons rateStar">star</span>
                                <span class="material-icons unchecked">star</span>
                                <span class="material-icons unchecked">star</span>
                                <span class="material-icons unchecked">star</span>
                                <span class="material-icons unchecked">star</span>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
<!-- --------------------loading service providers component------------------------ -->
        <div class="col-lg-8">
            <div class="container ">
                <app-service-providers [userType]="currentUser"></app-service-providers>
            </div>
        </div>
    </div>
</div>

