.backgroungProperties {
    background-color: rgba(143, 41, 5, 255);
    text-align: center;

}

.paraProperties {
    margin-top: 30px;
    font-size: large;
    padding: 40px;
}

.btn {
    border-radius: 10px;
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: large;
}

.postJobButton {
    background-color: rgba(247, 149, 32, 255);
}

.btnRow {
    justify-content: center;
}

.imgsize {
    width: 100%;
    height: 100%;
}

.imageContainer {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.viewMoreButtonRow {
    justify-content: center;
}

.viewMoreButton {
    background-color: rgba(212, 231, 182, 255);
}