.profileImage{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.bgGradient{
    background-image: linear-gradient(to right,#8a8bfb ,#a9edfb);
}
.price{
    color: #02db96;
    font-size: large;
}
.clientImage{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.jobRate{
    color: gray;
    font-size: large;
}
.projectsBox{
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 45px;
}
.filter{
    display: flex;
    flex-direction: row-reverse;
}
/* Search Field */
.searchBtn {
    height: 38px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.searchFieled{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }
 .default:not(:only-child) {
    display: none;
 }
 .record{
    color: #b3b3b3;
    text-align: center;
}
@media only screen and (max-width: 985px) {
    .searchBox {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 991.98px) { 
    .serviceProviderDetail{
        display: none;
    }
 }


/* Filter Button */
.filterButton{
    /* background-color: gray; */
    border: none;
    background-color: #f2f2f2;
    font-size: 15px;
    height: 38px;
    border-radius: 8px;
    padding: 7px;
    margin-bottom: 15px;
    margin-right: 15px;    
}
.filterButton:hover{
    background-color: black;
    color: white;
}
.filterButton.active{
    background-color: black;
    color: white;
}
