<!-- WHO WE ARE block -->
<div class=" d-flex justify-content-center">
    <p class="display-4 p-5">
        Who We Are
    </p>
</div>

<div class="col-lg-12 justify-content-center d-flex pb-5">
    <div class="col-10">
        <p class="display-5">
            How it started
        </p>
        <hr class="text-black" style="width: 83vw ;">
        <p class="fs-5" style="line-height: 25px;">A band of four formed for a Software Engineering Semester Project. Coincidentally the four were ambitious to launch a product that'd help the people at large.
            Multiple ideas propagated but were later burried simply because they were not something out of the ordinary and didnot seem feasible enough to be launched locally. Kaam Kaaj. An idea that gave birth
            to the infamous Cheezain programmers and took the band of four to unprecedented heights.
        </p>
    </div>
</div>


<!-- MOTIVATION block -->
<div class="col-lg-12 justify-content-center d-flex">
    <div class="col-10 d-flex justify-content-end">
        <p class="display-5">
            Our Motivation
        </p> 
    </div>
</div>
<div class="col-lg-12 justify-content-center d-flex pb-5">
    <div class="col-10">
        <hr class="text-black" style="width: 83vw ;">
        <p class="fs-5" style="text-align:right; line-height: 25px;">The main motivation for making this platform is to help people contact skilled labor present in the market. 
            Usually, it is a hassle to find a plumber to get your broken pipes fixed. The reason is that people don’t know who is skilled 
            enough to help them with their utility work. At times they are unsatisfied with the quality of work because they chose an 
            inexperienced person for the job. So, a platform is imperative where any person can post their tasks or find a skilled person 
            from the market by viewing their profile to get their task to be completed. This will help people to choose for themselves who 
            will be doing their job instead of randomly calling out a person without any prior work history. This will abridge a gap between 
            the untapped market and the users who are at the mercy of only a few people they know about.
        </p>
    </div>
</div>


<!-- Column Block -->
<div class="col-md-12 d-flex justify-content-center pb-5">
    <div class="col-10 row d-flex justify-content-around">
        <div class="col-md-4" style="text-align: center;">
            <div class="d-flex justify-content-center">
                <p class="display-5">Target Audience</p>
            </div>
            <div class="d-flex justify-content-center">
                <hr class="text-black" style="width: 80% ;">
            </div>
            <div class="d-flex justify-content-center">
                <p class="fs-5" style="text-align:center; line-height: 25px;">
                    The stakeholders of this freelance system will primarily be the service providers such as plumbers, electricians, and carpenters. 
                    Moreover, the consumers of the services will be directly affected as they are the ones utilizing this software to fulfill their needs.
                    The organization that manages and owns this business will also be the stakeholder as it is their reputation on the line which is why 
                    appropriate measures will be taken. As this service is open to be used by everyone, it is going to affect a huge population and has the 
                    potential to grow to a nationwide scale. 
                </p>
            </div>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <div class="d-flex justify-content-center">
                <p class="display-5">Future Prospects</p>
            </div>
            <div class="d-flex justify-content-center">
                <hr class="text-black" style="width: 80% ;">
            </div>
            <div class="d-flex justify-content-center">
                <p class="fs-5" style="text-align:center; line-height: 25px;">
                    Initially the project is being designed to be launched as a website, but soon enough we at Cheezain Programmers are planning to launch
                    it as a mobile app as well on android and iOS so that users may easily and quickly navigate through the app.
                </p>
            </div>
        </div>
        
    </div>
</div>
